﻿@model JoorClientTool.ViewModels.DimJoorClientViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Creating a New JOOR Client</h1>


@if (Model.ErrorMessage != "" && Model.ErrorMessage != null)
{

<form asp-controller="Client" asp-action="Index">
    <label class="text-danger">@Model.ErrorMessage</label>
    <input type="Hidden" name="SearchString" value="@Model.Client.CustomerCode" />
    <input type="submit" value="View Details" />
</form>

}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label small">Customer Code</label>
                <input asp-for="Client.CustomerCode" class="form-control" />
                <span asp-validation-for="Client.CustomerCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label small">Customer Contact Email</label>
                <input asp-for="Client.CustomerContactEmail" class="form-control" />
                <span asp-validation-for="Client.CustomerContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label small">Price Type Label</label>
                <input asp-for="Client.PriceTypeLabel" class="form-control" />
                <span asp-validation-for="Client.PriceTypeLabel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label small">Price Type Currency Code</label>
                <input asp-for="Client.PriceTypeCurrencyCode" class="form-control" />
                <span asp-validation-for="Client.PriceTypeCurrencyCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label small">Sales Representative</label>
                <input asp-for="Client.SalesRep" class="form-control" />
                <span asp-validation-for="Client.SalesRep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label small">Account Type</label>
                @Html.DropDownListFor(m => m.Client.Account, Model.AllAccountTypes, new {@class="form-control" })
                <span asp-validation-for="Client.Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
