﻿@model JoorClientTool.ViewModels.DimJoorClientsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a> |
    <a asp-action="RunUpdateJob">Run Update Job</a>
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <label> | @Model.Message</label>
    }
</p>

<form asp-controller="Client" asp-action="Index">
    <p>
        <input type="text" name="SearchString" value="@Model.SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<h5>Client Table</h5>
<table class="table">
    <thead>
        <tr>
            <th>
                Customer Code
            </th>
            <th>
                Customer Contact Email
            </th>
            <th>
                Price Type Label
            </th>
            <th>
                Price Type Currency Code
            </th>
            <th>
                Sales Representative
            </th>
            <th>
                Account Type
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Clients)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerContactEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceTypeLabel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceTypeCurrencyCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesRep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account)
                </td>
            </tr>
        }
    </tbody>
</table>
<h5>Buyer Table</h5>
<table class="table">
    <thead>
        <tr>
            <th>
                Customer Code
            </th>
            <th>
                Buyer Email
            </th>
            <th>
                Account Type
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Buyers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuyerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account)
                </td>
            </tr>
        }
    </tbody>
</table>
