﻿@{
    ViewData["Title"] = "RunUpdateJob";
}

<h1>Running Update Job</h1>

<div class="row">
        <div class="col-12">
            <label id="PleaseWait">Please Wait ...</label>
        </div>
    </div>

@section Scripts {
    <script src="~/js/RunUpdateJobScripts.js"></script>
}